Repository ita-social-projects/OoS-Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint:fix, yarn prettier:fix

final refactoring
  src/app/shared/components/filters-list/price-filter/price-filter.component.scss
  src/app/shared/components/filters-list/searchbar/searchbar.component.scss
  src/app/shared/components/info-menu/info-menu.component.scss
  src/app/shared/components/map/map.component.scss
  src/app/shared/components/notifications/notifications-list/notifications-list.component.html
  src/app/shared/components/notifications/notifications-list/notifications-list.component.scss
  src/app/shared/components/phone-form-control/phone-form-control.component.scss
  src/app/shared/components/provider-status-banner/provider-status-banner.component.html
  src/app/shared/components/provider-status-banner/provider-status-banner.component.scss
  src/app/shared/styles/buttons.scss
  src/app/shared/styles/cabinet.scss
  src/app/shared/styles/calendar.scss
  src/app/shared/styles/list-wrappers.scss
  src/app/shared/styles/theme-variables.scss
  src/app/shell/personal-cabinet/provider/create-competition/create-competition-description-form/create-competition-description-form.component.scss
  src/app/shell/personal-cabinet/shared-cabinet/applications/applications.component.scss
  src/styles.scss
Due: yarn eslint:fix, yarn prettier:fix

added tips for using theme-variables
  src/app/shared/components/filters-list/workshops-searchbar/workshop-searchbar.component.scss
  src/app/shared/components/workshop-list/workshop-info/workshop-info.component.scss
  src/app/shared/components/workshop-list/workshop-list.component.scss
  src/app/shared/styles/list-wrappers.scss
  src/app/shared/styles/theme-variables.scss
  src/app/shell/personal-cabinet/provider/provider-workshops/provider-workshops.component.html
  src/app/shell/personal-cabinet/shared-cabinet/messages/chat/chat.component.scss
Due: yarn eslint:fix, yarn prettier:fix

phone control fix
  src/app/shared/components/phone-form-control/phone-form-control.component.scss
Due: yarn prettier:fix

remove redundant property
  src/app/shared/styles/toggle-button.scss
Due: yarn prettier:fix

hotfix
  src/app/shared/components/paginator/paginator.component.scss
Due: yarn prettier:fix

fixed dropdown items hover & removed default property to avoid default step redirecting
  src/app/shared/styles/dropdown.scss
Due: yarn prettier:fix

hotfix
  src/app/shell/personal-cabinet/provider/provider-workshops/provider-workshops.component.html
Due: yarn eslint:fix, yarn prettier:fix

removed redundant imports
  src/app/footer/footer.component.scss
  src/app/shared/base-components/create-contacts/create-contacts.component.scss
  src/app/shared/base-components/upload-excel/upload-excel.component.scss
  src/app/shared/components/competition-card/competition-card.component.scss
  src/app/shared/components/confirmation-modal-window/confirmation-modal-window.component.scss
  src/app/shared/components/entity-checkbox-dropdown/entity-checkbox-dropdown.component.scss
  src/app/shared/components/filters-list/age-filter/age-filter.component.scss
  src/app/shared/components/filters-list/category-check-box/category-check-box.component.scss
  src/app/shared/components/filters-list/city-filter/city-filter.component.scss
  src/app/shared/components/filters-list/filters-list.component.scss
  src/app/shared/components/filters-list/full-search-bar/full-search-bar.component.scss
  src/app/shared/components/filters-list/price-filter/price-filter.component.scss
  src/app/shared/components/filters-list/searchbar/searchbar.component.scss
  src/app/shared/components/filters-list/user-radius-set/user-radius-set.component.scss
  src/app/shared/components/filters-list/working-hours/working-hours.component.scss
  src/app/shared/components/image-cropper-modal/image-cropper-modal.component.scss
  src/app/shared/components/info-menu/info-menu.component.scss
  src/app/shared/components/map/map.component.scss
  src/app/shared/components/message-bar/message-bar.component.scss
  src/app/shared/components/navigation-bar/navigation-bar.component.scss
  src/app/shared/components/navigation-mobile-bar/navigation-mobile-bar.component.scss
  src/app/shared/components/notifications/notifications-list/notifications-list.component.scss
  src/app/shared/components/phone-form-control/phone-form-control.component.scss
  src/app/shared/components/provider-info/provider-info.component.scss
  src/app/shared/components/provider-status-banner/provider-status-banner.component.scss
  src/app/shared/components/sidenav-menu/sidenav-menu.component.scss
  src/app/shared/components/status-info-card/status-info-card.component.scss
  src/app/shared/components/unregistered-user-warning-modal/unregistered-user-warning-modal.component.scss
  src/app/shared/components/workshop-card/workshop-card.component.scss
  src/app/shared/components/workshop-card/workshop-seats-lack-modal/workshop-seats-lack-modal.component.scss
  src/app/shell/admin-tools/data/admins/admins.component.scss
  src/app/shell/admin-tools/data/admins/create-admin/create-admin.component.scss
  src/app/shell/admin-tools/data/directions-wrapper/directions/directions.component.scss
  src/app/shell/admin-tools/data/history-log/history-log-filters/history-log-filters.component.scss
  src/app/shell/admin-tools/data/history-log/history-log.component.scss
  src/app/shell/admin-tools/data/provider-list/provider-list.component.scss
  src/app/shell/admin-tools/data/statistics/statistics.component.scss
  src/app/shell/admin-tools/data/users/users.component.scss
  src/app/shell/admin-tools/platform/platform-info/info-card/info-card.component.scss
  src/app/shell/main/main.component.scss
Due: yarn prettier:fix

rebase hotfix
  src/app/shared/base-components/create-contacts/create-contacts.component.scss
  src/app/shared/styles/buttons.scss
Due: yarn prettier:fix

added class for dark info-menu-icon mode
  src/app/shared/components/info-menu/info-menu.component.html
  src/app/shared/components/info-menu/info-menu.component.scss
  src/app/shared/components/info-menu/info-menu.component.ts
  src/app/shell/personal-cabinet/provider/provider-employees-upload/provider-employees-upload.component.html
Due: yarn eslint:fix, yarn prettier:fix

rabbit tip
  src/app/shell/personal-cabinet/provider/provider-employees-upload/provider-employees-upload.component.html
Due: yarn eslint:fix, yarn prettier:fix

sans-serif added
  src/app/shared/components/confirmation-modal-window/confirmation-modal-window.component.scss
  src/app/shared/components/error-page/error-page.component.scss
  src/app/shared/components/provider-info/provider-info.component.scss
  src/app/shared/components/status-info-card/status-info-card.component.scss
  src/app/shared/components/workshop-card/workshop-seats-lack-modal/workshop-seats-lack-modal.component.scss
  src/app/shared/styles/components/create-form-wrapper.scss
  src/app/shared/styles/components/create-form.scss
  src/app/shared/styles/components/list-wrappers.scss
  src/app/shared/styles/components/side-menu-cards.scss
  src/app/shared/styles/components/working-hours.scss
  src/app/shell/admin-tools/data/directions-wrapper/directions/directions.component.scss
  src/app/shell/details/details-tabs/competition-about/competition-about.component.scss
  src/app/shell/details/details-tabs/reviews/reviews.component.scss
  src/app/shell/details/details-tabs/workshop-about/workshop-about.component.scss
  src/app/shell/personal-cabinet/shared-cabinet/applications/application-card/info-status/info-status.component.scss
Due: yarn prettier:fix

refactored draft workshop status colors
  src/app/shared/styles/details.scss
  src/app/shared/styles/theme-variables.scss
  src/app/shared/styles/workshop-status.scss
  src/styles.scss
Due: yarn prettier:fix

font-family & appearance small fixes
  src/app/shared/components/entity-checkbox-dropdown/entity-checkbox-dropdown.component.scss
  src/app/shared/components/navigation-bar/navigation-bar.component.scss
  src/app/shared/directives/validation-message-styling.directive.ts
  src/app/shared/styles/components/side-menu-cards.scss
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.html
  src/styles.scss
Due: yarn eslint:fix, yarn prettier:fix

last reliability issues fix
  src/app/footer/footer.component.scss
  src/app/header/header.component.scss
  src/app/shared/components/filters-list/city-filter/city-filter.component.scss
  src/app/shared/components/message-bar/message-bar.component.scss
  src/app/shared/components/sidenav-menu/sidenav-menu.component.scss
  src/app/shared/styles/components/application-list.scss
  src/app/shared/styles/components/cabinet.scss
  src/app/shared/styles/components/full-width-card.scss
  src/app/shared/styles/components/info-hint.scss
  src/app/shared/styles/components/pagination.scss
  src/app/shell/details/details-tabs/competition-about/competition-about.component.scss
  src/app/shell/details/details-tabs/provider-about/provider-about.component.scss
  src/app/shell/details/details-tabs/workshop-about/workshop-about.component.scss
  src/app/shell/personal-cabinet/parent/create-application/create-application.component.scss
  src/app/shell/personal-cabinet/parent/create-application/person-card/person-card.component.scss
  src/app/shell/personal-cabinet/shared-cabinet/applications/application-card/application-card.component.scss
  src/app/shell/personal-cabinet/shared-cabinet/messages/chat/message/message.component.scss
  src/styles.scss
Due: yarn prettier:fix

additional reliability fixes
  src/app/shared/components/confirmation-modal-window/confirmation-modal-window.component.scss
  src/app/shared/components/error-page/error-page.component.scss
  src/app/shared/components/filters-list/age-filter/age-filter.component.scss
  src/app/shared/components/filters-list/category-check-box/category-check-box.component.scss
  src/app/shared/components/filters-list/filters-list.component.scss
  src/app/shared/components/filters-list/price-filter/price-filter.component.scss
  src/app/shared/components/filters-list/working-hours/working-hours.component.scss
  src/app/shared/components/message-bar/message-bar.component.scss
  src/app/shared/components/sidenav-menu/sidenav-menu.component.scss
  src/app/shared/components/workshop-card/workshop-seats-lack-modal/workshop-seats-lack-modal.component.scss
  src/app/shared/styles/components/create-form.scss
  src/app/shared/styles/components/side-menu-cards.scss
  src/app/shell/details/details-tabs/reviews/reviews.component.scss
  src/app/shell/personal-cabinet/provider/create-competition/create-judge/create-judge.component.scss
  src/app/shell/personal-cabinet/provider/create-workshop/create-teacher/create-teacher.component.scss
Due: yarn prettier:fix

combinined variables into single file
  src/app/shared/base-components/upload-excel/upload-excel.component.scss
  src/app/shared/styles/utils/animations/animations.scss
  src/app/shared/styles/utils/variables/theme-variables.scss
  src/app/shared/styles/utils/variables/variables.scss
  src/styles.scss
Due: yarn prettier:fix

new contacts style fix
  src/app/shared/components/contacts-card/contacts.component.scss
  src/app/shared/styles/components/side-menu-cards.scss
  src/app/shared/styles/utils/variables/theme-variables.scss
  src/styles.scss
Due: yarn prettier:fix

theme configuration
  src/app/shared/styles/theme/dark-theme.scss
  src/app/shared/styles/theme/index.scss
  src/app/shared/styles/theme/light-theme.scss
  src/styles.scss
Due: yarn prettier:fix

missed color
  src/app/shell/personal-cabinet/shared-cabinet/messages/chat/chat.component.scss
Due: yarn prettier:fix

fixed comparing of workshop field that require re-moderation
  src/app/shared/utils/utils.spec.ts
  src/app/shared/utils/utils.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-workshop.component.spec.ts
Due: yarn eslint:fix, yarn prettier:fix

requested changes
  src/app/shared/utils/utils.ts
Due: yarn eslint:fix, yarn prettier:fix

Spelina/fixed comparing of workshop field that require re-moderation (#2884)
  src/app/shared/utils/utils.spec.ts
  src/app/shared/utils/utils.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-workshop.component.spec.ts
Due: yarn eslint:fix, yarn prettier:fix

fix/routing-refined
  src/app/header/header.component.html
  src/app/shared/store/provider.state.ts
  src/app/shell/personal-cabinet/provider/create-competition/create-competition.component.ts
  src/app/shell/personal-cabinet/provider/create-employee/create-employee.component.html
  src/app/shell/personal-cabinet/provider/create-employee/create-employee.component.ts
  src/app/shell/personal-cabinet/provider/create-position/create-position.component.ts
  src/app/shell/personal-cabinet/provider/create-study-subject/create-study-subject.component.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-workshop.component.ts
Due: yarn eslint:fix, yarn prettier:fix

Pasternak/#2842-provider-personal-cabinet-redirections-fix
  src/app/header/header.component.html
  src/app/shared/store/provider.state.ts
  src/app/shell/personal-cabinet/provider/create-competition/create-competition.component.ts
  src/app/shell/personal-cabinet/provider/create-employee/create-employee.component.html
  src/app/shell/personal-cabinet/provider/create-employee/create-employee.component.ts
  src/app/shell/personal-cabinet/provider/create-position/create-position.component.ts
  src/app/shell/personal-cabinet/provider/create-study-subject/create-study-subject.component.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-workshop.component.ts
Due: yarn eslint:fix, yarn prettier:fix

Changed padding in calendar
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.scss
Due: yarn prettier:fix

increased maximum scss files capacity
  angular.json
  src/app/shared/components/navigation-bar/navigation-bar.component.scss
  src/app/shared/styles/theme/index.scss
Due: yarn prettier:fix

increased maximum scss files capacity (#2901)
  angular.json
  src/app/shared/components/navigation-bar/navigation-bar.component.scss
  src/app/shared/styles/theme/index.scss
Due: yarn prettier:fix

hotfix
  angular.json
Due: none

hotfix (#2902)
  angular.json
Due: none

Display the benefits, competitive selection section conditions, animation
  src/app/shared/components/workshop-card/workshop-card.component.html
  src/app/shared/components/workshop-card/workshop-card.component.scss
  src/assets/i18n/en.json
  src/assets/i18n/uk.json
Due: yarn eslint:fix, yarn prettier:fix

requested changes
  src/app/shared/components/workshop-card/workshop-card.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-description-form/create-description-form.component.html
Due: yarn eslint:fix, yarn prettier:fix

Spelina/Added a status message to the draft card (#2900)
  src/app/shared/components/workshop-card/workshop-card.component.html
  src/app/shared/components/workshop-card/workshop-card.component.scss
  src/app/shell/personal-cabinet/provider/create-workshop/create-description-form/create-description-form.component.html
  src/assets/i18n/en.json
  src/assets/i18n/uk.json
Due: yarn eslint:fix, yarn prettier:fix

Changed padding in calendar (#2899)
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.scss
Due: yarn prettier:fix

workshop details test
  src/app/shell/details/workshop-details/workshop-details.component.spec.ts
Due: yarn eslint:fix, yarn prettier:fix

Path conditions:
  yarn eslint:fix: any of: *.{ts,html}
  yarn prettier:fix: any of: *.{ts,scss,html}
