Repository ita-social-projects/OoS-Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint:fix, yarn prettier:fix

fixed typo in enter department name (#2917)
  src/assets/i18n/uk.json
Due: none

fixed contacts display for drafts
  src/app/shared/components/contacts-card/contacts.component.ts
  src/app/shared/models/contacts.model.ts
Due: yarn eslint:fix, yarn prettier:fix

fixed contacts display for drafts (#2918)
  src/app/shared/components/contacts-card/contacts.component.ts
  src/app/shared/models/contacts.model.ts
Due: yarn eslint:fix, yarn prettier:fix

removed required validator for [create competiton] registration date, fixed condition in hint
  src/app/shared/components/validation-hint/validation-hint.component.ts
  src/app/shell/personal-cabinet/provider/create-competition/create-required-form/create-required-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

translation fix
  src/assets/i18n/uk.json
Due: none

removed required validator for [create competiton] registration date
  src/app/shell/personal-cabinet/provider/create-competition/create-required-form/create-required-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

Spelina/[create competition] registration dates are no longer required (#2919)
  src/app/shared/components/validation-hint/validation-hint.component.ts
  src/app/shell/personal-cabinet/provider/create-competition/create-required-form/create-required-form.component.ts
  src/assets/i18n/uk.json
Due: yarn eslint:fix, yarn prettier:fix

fixed filtering unmatched results, refactor
  src/app/shared/store/provider.state.ts
  src/app/shell/personal-cabinet/provider/provider-positions/provider-positions.component.html
  src/app/shell/personal-cabinet/provider/provider-positions/provider-positions.component.ts
Due: yarn eslint:fix, yarn prettier:fix

test
  src/app/shell/personal-cabinet/provider/provider-positions/provider-positions.component.spec.ts
Due: yarn eslint:fix, yarn prettier:fix

Spelina/[position] fixed filtering of unmatched results (#2924)
  src/app/shared/store/provider.state.ts
  src/app/shell/personal-cabinet/provider/provider-positions/provider-positions.component.html
  src/app/shell/personal-cabinet/provider/provider-positions/provider-positions.component.spec.ts
  src/app/shell/personal-cabinet/provider/provider-positions/provider-positions.component.ts
Due: yarn eslint:fix, yarn prettier:fix

adjusted stepper header styles according to the design and fixed label cutting
  src/app/shared/styles/theme/index.scss
Due: yarn prettier:fix

removed redundant styles
  src/app/shared/styles/theme/index.scss
Due: yarn prettier:fix

Spelina/Fixed stepper's label cropping and adjusted styles (#2923)
  src/app/shared/styles/theme/index.scss
Due: yarn prettier:fix

refactor, requested changes
  src/app/shared/store/shared-user.actions.ts
  src/app/shared/store/shared-user.state.ts
  src/app/shell/details/details.component.ts
  src/app/shell/personal-cabinet/parent/create-application/create-application.component.ts
  src/app/shell/personal-cabinet/provider/create-achievement/create-achievement.component.ts
  src/app/shell/personal-cabinet/provider/create-competition/create-competition.component.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-workshop.component.ts
  src/app/shell/personal-cabinet/shared-cabinet/messages/chat/chat.component.ts
Due: yarn eslint:fix, yarn prettier:fix

added nullify for selected competition in action
  src/app/shared/store/shared-user.actions.ts
  src/app/shared/store/shared-user.state.ts
  src/app/shell/details/competition-details/competition-details.component.ts
  src/app/shell/details/details.component.html
  src/app/shell/details/details.component.ts
  src/app/shell/personal-cabinet/parent/create-application/create-application.component.ts
  src/app/shell/personal-cabinet/provider/create-achievement/create-achievement.component.ts
  src/app/shell/personal-cabinet/provider/create-competition/create-competition.component.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-workshop.component.ts
  src/app/shell/personal-cabinet/shared-cabinet/messages/chat/chat.component.ts
Due: yarn eslint:fix, yarn prettier:fix

Spelina/reseting competition on destroy (#2904)
  src/app/shared/store/shared-user.actions.ts
  src/app/shared/store/shared-user.state.ts
  src/app/shell/details/competition-details/competition-details.component.ts
  src/app/shell/details/details.component.html
  src/app/shell/details/details.component.ts
  src/app/shell/personal-cabinet/parent/create-application/create-application.component.ts
  src/app/shell/personal-cabinet/provider/create-achievement/create-achievement.component.ts
  src/app/shell/personal-cabinet/provider/create-competition/create-competition.component.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-workshop.component.ts
  src/app/shell/personal-cabinet/shared-cabinet/messages/chat/chat.component.ts
Due: yarn eslint:fix, yarn prettier:fix

test, logic fix
  src/app/shell/personal-cabinet/provider/create-competition/create-competition-description-form/create-competition-description-form.component.spec.ts
  src/app/shell/personal-cabinet/provider/create-competition/create-competition-description-form/create-competition-description-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

removed animations
  src/app/shell/personal-cabinet/provider/create-competition/create-competition-description-form/create-competition-description-form.component.html
  src/app/shell/personal-cabinet/provider/create-competition/create-competition-description-form/create-competition-description-form.component.scss
  src/app/shell/personal-cabinet/provider/create-competition/create-competition-description-form/create-competition-description-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

Display the benefits, competitive selection section conditions, animation
  src/app/shared/styles/components/create-form.scss
  src/app/shell/personal-cabinet/provider/create-competition/create-competition-description-form/create-competition-description-form.component.html
  src/app/shell/personal-cabinet/provider/create-competition/create-competition-description-form/create-competition-description-form.component.scss
  src/app/shell/personal-cabinet/provider/create-competition/create-competition-description-form/create-competition-description-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

implemented new Contact card in competition-details,provider-info,provider-details;contacts component import moved from details.module to shared.module
  src/app/shared/components/contacts-card/contacts.component.scss
  src/app/shared/components/contacts-card/contacts.component.ts
  src/app/shared/components/provider-info/provider-info.component.html
  src/app/shared/models/contact.model.ts
  src/app/shared/shared.module.ts
  src/app/shell/details/competition-details/competition-details.component.html
  src/app/shell/details/details.module.ts
  src/app/shell/details/provider-details/provider-details.component.html
Due: yarn eslint:fix, yarn prettier:fix

Removed old version of Contacts-card
  src/app/shell/details/side-menu/contacts/contacts.component.html
  src/app/shell/details/side-menu/contacts/contacts.component.scss
Due: yarn eslint:fix, yarn prettier:fix

Spelina/[competition] display conditions for benefits, competitive selection sections (#2898)
  src/app/shared/styles/components/create-form.scss
  src/app/shell/personal-cabinet/provider/create-competition/create-competition-description-form/create-competition-description-form.component.html
  src/app/shell/personal-cabinet/provider/create-competition/create-competition-description-form/create-competition-description-form.component.spec.ts
  src/app/shell/personal-cabinet/provider/create-competition/create-competition-description-form/create-competition-description-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

added complex formatting of date for appDateInput directive, fixed digitOnly directive that allowed symbols
  src/app/shared/directives/date-input/date-input.directive.ts
  src/app/shared/directives/digit-only.directive.ts
  src/app/shell/personal-cabinet/provider/create-position/position-form/create-position-form.component.html
Due: yarn eslint:fix, yarn prettier:fix

fixed regex vulnerability for date
  src/app/shared/directives/date-input/date-input.directive.ts
Due: yarn eslint:fix, yarn prettier:fix

Spelina/complex date input formatting, digitOnly directive fix (#2927)
  src/app/shared/directives/date-input/date-input.directive.ts
  src/app/shared/directives/digit-only.directive.ts
  src/app/shell/personal-cabinet/provider/create-position/position-form/create-position-form.component.html
Due: yarn eslint:fix, yarn prettier:fix

throw error fix
  src/app/shared/store/app.state.ts
  src/app/shared/store/registration.state.ts
Due: yarn eslint:fix, yarn prettier:fix

moderator role added, shared.module edited
  src/app/shared/services/user/user-profile.service.ts
  src/app/shared/shared.module.ts
Due: yarn eslint:fix, yarn prettier:fix

appState storage and statusCode enum added
  src/app/shared/services/user/user-profile.service.ts
  src/app/shared/store/app.actions.ts
  src/app/shared/store/app.state.ts
  src/app/shared/store/registration.state.ts
Due: yarn eslint:fix, yarn prettier:fix

user service tests
  src/app/shared/components/forbidden-page/forbidden-page.component.ts
  src/app/shared/services/user/user-profile.service.spec.ts
Due: yarn eslint:fix, yarn prettier:fix

styles path changed
  src/app/shared/components/forbidden-page/forbidden-page.component.scss
Due: yarn prettier:fix

fixed logic of image for image carousel (#2850)
  src/app/shell/details/competition-details/competition-details.component.ts
  src/app/shell/details/details-tabs/provider-about/provider-about.component.ts
Due: yarn eslint:fix, yarn prettier:fix

profile-waiting and forbidden pages
  src/app/app.component.html
  src/app/app.component.scss
  src/app/shared/components/forbidden-page/forbidden-page.component.html
  src/app/shared/components/forbidden-page/forbidden-page.component.scss
  src/app/shared/components/forbidden-page/forbidden-page.component.spec.ts
  src/app/shared/components/forbidden-page/forbidden-page.component.ts
  src/app/shared/components/profile-waiting-page/profile-waiting-page.component.html
  src/app/shared/components/profile-waiting-page/profile-waiting-page.component.scss
  src/app/shared/components/profile-waiting-page/profile-waiting-page.component.spec.ts
  src/app/shared/components/profile-waiting-page/profile-waiting-page.component.ts
  src/app/shared/modules/material.module.ts
  src/app/shared/services/user/user-profile.service.ts
  src/app/shared/shared.module.ts
  src/app/shared/store/registration.state.ts
  src/app/shell/shell-routing.module.ts
  src/assets/i18n/en.json
  src/assets/i18n/uk.json
Due: yarn eslint:fix, yarn prettier:fix

rate field localization changed
  src/assets/i18n/uk.json
Due: none

Path conditions:
  yarn eslint:fix: any of: *.{ts,html}
  yarn prettier:fix: any of: *.{ts,scss,html}
