Repository ita-social-projects/OoS-Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint:fix, yarn prettier:fix

.lintstagedrc:

{
  "*.{ts,html}": [
    "yarn eslint:fix"
  ],
  "*.{ts,scss,html}": [
    "yarn prettier:fix"
  ]
}

added entering workshop hours using the keyboard
  src/app/shared/components/validation-hint/validation-hint.component.html
  src/app/shared/components/validation-hint/validation-hint.component.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.scss
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/uk.json
Due: yarn eslint:fix, yarn prettier:fix

added tests and validation hints fixed
  src/app/shared/components/validation-hint/validation-hint.component.spec.ts
  src/app/shared/components/validation-hint/validation-hint.component.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.spec.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

moved RegExp to constants file
  src/app/shared/constants/regex-constants.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

removed white space
  src/app/shared/components/validation-hint/validation-hint.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.scss
Due: yarn eslint:fix, yarn prettier:fix

modified excel-processor service;added duplicate validation in validation service
  src/app/shared/base-components/upload-excel/upload-excel.component.ts
  src/app/shared/models/admin-import-export.model.ts
  src/app/shared/services/excel-upload-processor/excel-upload-processor.service.ts
  src/app/shared/services/import-validation/import-validation.service.ts
  src/app/shell/personal-cabinet/provider/provider-employees-upload/provider-employees-upload.component.ts
  yarn.lock
Due: yarn eslint:fix, yarn prettier:fix

added load statuses
  src/app/shared/base-components/upload-excel/upload-excel.component.scss
  src/app/shared/base-components/upload-excel/upload-excel.component.ts
  src/app/shell/personal-cabinet/provider/provider-employees-upload/provider-employees-upload.component.html
Due: yarn eslint:fix, yarn prettier:fix

removed onBlur and validation fixed
  src/app/shared/components/validation-hint/validation-hint.component.spec.ts
  src/app/shared/components/validation-hint/validation-hint.component.ts
  src/app/shared/validators/time-format-validator.ts
  src/app/shared/validators/time-range-validator.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.scss
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.spec.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.ts
  src/assets/i18n/uk.json
Due: yarn eslint:fix, yarn prettier:fix

sonar accessibility fix
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.html
Due: yarn eslint:fix, yarn prettier:fix

removed whitespaces
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.html
Due: yarn eslint:fix, yarn prettier:fix

code quality improvement
  src/app/shared/components/validation-hint/validation-hint.component.spec.ts
  src/app/shared/components/validation-hint/validation-hint.component.ts
  src/app/shared/validators/time-format-validator.ts
  src/app/shared/validators/time-range-validator.ts
  src/app/shared/validators/validators.spec.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.spec.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

rebase and delete icon fix
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.scss
Due: yarn prettier:fix

Dvorak / 2673 Workshop information moves when two buttons displayed
  src/app/shell/personal-cabinet/shared-cabinet/applications/application-card/application-card.component.scss
Due: yarn prettier:fix

test for validators separated and function wrapper removed
  src/app/shared/validators/time-format-validator.spec.ts
  src/app/shared/validators/time-format-validator.ts
  src/app/shared/validators/time-range-validator.spec.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

Dvorak 2668 The "-" symbol added to the accepted characters in the search field
  src/app/shared/components/filters-list/searchbar/searchbar.component.ts
  src/app/shared/constants/regex-constants.ts
Due: yarn eslint:fix, yarn prettier:fix

test updated
  src/app/shared/components/filters-list/searchbar/searchbar.component.spec.ts
Due: yarn eslint:fix, yarn prettier:fix

mat-menu migrated
  src/app/header/header.component.scss
  src/app/shared/components/info-menu/info-menu.component.html
  src/app/shared/components/info-menu/info-menu.component.scss
  src/app/shared/components/notifications/notifications-list/notifications-list.component.scss
  src/app/shared/components/phone-form-control/phone-form-control.component.scss
  src/app/shared/components/users-list/users-list.component.scss
  src/app/shared/modules/material.module.ts
  src/app/shared/styles/info-hint.scss
  src/styles.scss
Due: yarn eslint:fix, yarn prettier:fix

removed withe spaces
  src/app/shared/components/info-menu/info-menu.component.scss
  src/app/shared/components/users-list/users-list.component.scss
  src/styles.scss
Due: yarn prettier:fix

cabinet container width and tab indicator padding fixed
  src/app/shared/styles/cabinet.scss
  src/app/shell/admin-tools/admin-tools.component.html
  src/app/shell/personal-cabinet/personal-cabinet.component.html
Due: yarn eslint:fix, yarn prettier:fix

letter spacing removed
  src/app/shared/styles/cabinet.scss
Due: yarn prettier:fix

disappearing right nav-button fixed
  src/app/shared/styles/application-list.scss
  src/app/shared/styles/cabinet.scss
  src/app/shell/personal-cabinet/shared-cabinet/applications/applications.component.scss
Due: yarn prettier:fix

edit card-footer scss
  src/app/shared/styles/cards.scss
Due: yarn prettier:fix

show button more details in user's workshop
  src/app/shared/components/workshop-card/workshop-card.component.html
Due: yarn eslint:fix, yarn prettier:fix

add translate for buttons publish and archive
  src/assets/i18n/en.json
  src/assets/i18n/uk.json
Due: none

added info of current provider
  src/app/shell/details/details.component.html
  src/app/shell/details/details.component.ts
Due: yarn eslint:fix, yarn prettier:fix

add buttons scss
  src/app/shell/details/workshop-details/workshop-details.component.scss
Due: yarn prettier:fix

publish workshop text/enum
  src/app/shared/enum/enumUA/message-bar.ts
  src/app/shared/enum/modal-confirmation.ts
  src/assets/i18n/en.json
  src/assets/i18n/uk.json
Due: yarn eslint:fix, yarn prettier:fix

comparison workshop providerId and current provider id and showing action buttons
  src/app/shell/details/workshop-details/workshop-details.component.html
  src/app/shell/details/workshop-details/workshop-details.component.ts
Due: yarn eslint:fix, yarn prettier:fix

publish workshop request
  src/app/shared/services/workshops/user-workshop/user-workshop.service.ts
Due: yarn eslint:fix, yarn prettier:fix

publish workshop actions
  src/app/shared/store/provider.actions.ts
Due: yarn eslint:fix, yarn prettier:fix

modal window on publish button click
  src/app/shell/details/workshop-details/workshop-details.component.scss
  src/app/shell/details/workshop-details/workshop-details.component.ts
Due: yarn eslint:fix, yarn prettier:fix

card footer scss
  src/app/shared/styles/cards.scss
Due: yarn prettier:fix

draft enum
  src/app/shared/enum/enumUA/workshop.ts
  src/app/shared/enum/workshop.ts
  src/assets/i18n/en.json
  src/assets/i18n/uk.json
Due: yarn eslint:fix, yarn prettier:fix
