Repository ita-social-projects/OoS-Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint:fix, yarn prettier:fix

test fix
  src/app/shared/base-components/upload-excel/upload-excel.component.spec.ts
Due: yarn eslint:fix, yarn prettier:fix

changed to esbuild
  angular.json
Due: none

removed comment
  src/app/shell/result/workshop-cards-list/workshop-cards-list.component.ts
Due: yarn eslint:fix, yarn prettier:fix

removed duplicated route
  src/app/shell/shell-routing.module.ts
Due: yarn eslint:fix, yarn prettier:fix

rebase fixes
  src/app/shared/components/filters-list/filters-list.component.scss
  src/app/shared/validators/time-range/time-range-validator.ts
Due: yarn eslint:fix, yarn prettier:fix

Changed max amount of cover images to 1
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.html
Due: yarn eslint:fix, yarn prettier:fix

fixed warning with moment import, fixed locale for moment according to webpack
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.scss
  src/app/shell/shell.module.ts
  tsconfig.json
Due: yarn eslint:fix, yarn prettier:fix

excel test fix
  src/app/shared/services/excel-upload-processor/excel-upload-processor.service.spec.ts
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.spec.ts
Due: yarn eslint:fix, yarn prettier:fix

styles fix
  src/app/shared/styles/components/create-form.scss
Due: yarn prettier:fix

styles optimization
  src/app/shared/directives/placeholder-styling.directive.ts
  src/app/shared/styles/components/create-form.scss
  src/app/shell/personal-cabinet/provider/create-competition/create-judge/judge-form/judge-form.component.scss
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.scss
Due: yarn eslint:fix, yarn prettier:fix

study subject tailwind optimization
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.html
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.scss
Due: yarn eslint:fix, yarn prettier:fix

adjusted tailwind styles
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.html
Due: yarn eslint:fix, yarn prettier:fix

Spelina/styles optimization (#2986)
  src/app/shared/directives/placeholder-styling.directive.ts
  src/app/shared/styles/components/create-form.scss
  src/app/shell/personal-cabinet/provider/create-competition/create-judge/judge-form/judge-form.component.scss
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.html
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.scss
Due: yarn eslint:fix, yarn prettier:fix

Changed max amount of cover images to 1 (#2983)
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.html
Due: yarn eslint:fix, yarn prettier:fix

Changed age validator to prevent equality of "From" an "To" age. Changed translation. Increased max width of validation hint
  src/app/shared/validators/age-range-validator.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.html
  src/assets/i18n/en.json
  src/assets/i18n/uk.json
Due: yarn eslint:fix, yarn prettier:fix

Temporary increas style limits
  angular.json
Due: none

Temporary increas style limits (#2988)
  angular.json
Due: none

update utils ,rename codeficatorAddressDto to codeficatorAddress
  src/app/shared/components/contacts-card/contacts.component.spec.ts
  src/app/shared/components/contacts-card/contacts.component.ts
  src/app/shared/models/address.model.ts
  src/app/shared/services/competitions/user-competition.service.ts
  src/app/shared/services/provider/provider.service.spec.ts
  src/app/shared/services/provider/provider.service.ts
  src/app/shared/services/workshops/user-workshop/user-workshop.service.ts
  src/app/shared/utils/utils.spec.ts
  src/app/shared/utils/utils.ts
Due: yarn eslint:fix, yarn prettier:fix

asterisk space fix
  src/app/shared/components/info-form/info-form.component.html
  src/app/shared/components/institution-hierarchy/institution-hierarchy.component.html
  src/app/shell/personal-cabinet/provider/create-employee/create-employee.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-description-form/create-description-form.component.html
Due: yarn eslint:fix, yarn prettier:fix

style fix
  src/app/shared/components/scroll-to-top/scroll-to-top.component.scss
  src/app/shell/details/details-tabs/reviews/reviews.component.scss
  src/app/shell/details/side-menu/actions/actions.component.scss
Due: yarn prettier:fix

litviniuk/paginator-style-fix (#2980)
  src/app/shared/components/info-form/info-form.component.html
  src/app/shared/components/institution-hierarchy/institution-hierarchy.component.html
  src/app/shared/components/scroll-to-top/scroll-to-top.component.scss
  src/app/shell/details/details-tabs/reviews/reviews.component.scss
  src/app/shell/details/side-menu/actions/actions.component.scss
  src/app/shell/personal-cabinet/provider/create-employee/create-employee.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-description-form/create-description-form.component.html
Due: yarn eslint:fix, yarn prettier:fix

Changed age validator to prevent equality of "From" an "To" age. Changed translation. Increased max width of validation hint (#2987)
  src/app/shared/validators/age-range-validator.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.html
  src/assets/i18n/en.json
  src/assets/i18n/uk.json
Due: yarn eslint:fix, yarn prettier:fix

Modified text in tooltip to match the competition
  src/app/shell/personal-cabinet/provider/create-competition/create-required-form/create-required-form.component.html
  src/assets/i18n/en.json
  src/assets/i18n/uk.json
Due: yarn eslint:fix, yarn prettier:fix

Modified text in tooltip to match the competition (#2992)
  src/app/shell/personal-cabinet/provider/create-competition/create-required-form/create-required-form.component.html
  src/assets/i18n/en.json
  src/assets/i18n/uk.json
Due: yarn eslint:fix, yarn prettier:fix

fixed pipe for number values, [positions] removed sorting for shortName, description
  src/app/shared/pipes/decimal-number.pipe.ts
  src/app/shell/personal-cabinet/provider/provider-positions/provider-positions.component.html
Due: yarn eslint:fix, yarn prettier:fix

fixed pipe for number values, [positions] removed sorting for shortName, description (#2982)
  src/app/shared/pipes/decimal-number.pipe.ts
  src/app/shell/personal-cabinet/provider/provider-positions/provider-positions.component.html
Due: yarn eslint:fix, yarn prettier:fix

Added "MUST_CONTAIN_LETTERS" validator to enrolment procedure description field
  src/app/shell/personal-cabinet/provider/create-workshop/create-description-form/create-description-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

updated argument type and unit-tests
  src/app/shared/utils/utils.spec.ts
  src/app/shared/utils/utils.ts
Due: yarn eslint:fix, yarn prettier:fix

Shutov / #2823 new contacts model distribute (#2925)
  src/app/shared/components/contacts-card/contacts.component.scss
  src/app/shared/components/contacts-card/contacts.component.spec.ts
  src/app/shared/components/contacts-card/contacts.component.ts
  src/app/shared/components/provider-info/provider-info.component.html
  src/app/shared/models/address.model.ts
  src/app/shared/models/contact.model.ts
  src/app/shared/services/competitions/user-competition.service.ts
  src/app/shared/services/provider/provider.service.spec.ts
  src/app/shared/services/provider/provider.service.ts
  src/app/shared/services/workshops/user-workshop/user-workshop.service.ts
  src/app/shared/shared.module.ts
  src/app/shared/utils/utils.spec.ts
  src/app/shared/utils/utils.ts
  src/app/shell/details/competition-details/competition-details.component.html
  src/app/shell/details/details.module.ts
  src/app/shell/details/provider-details/provider-details.component.html
Due: yarn eslint:fix, yarn prettier:fix

Added "MUST_CONTAIN_LETTERS" validator to enrolment procedure description field (#2994)
  src/app/shell/personal-cabinet/provider/create-workshop/create-description-form/create-description-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

removed unused import, styles refactor
  src/app/shared/styles/components/create-form.scss
  src/app/shared/styles/theme/index.scss
  src/app/shell/personal-cabinet/parent/create-child/create-child.component.scss
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.scss
Due: yarn prettier:fix

fixed calendar buttons style
  src/app/shared/styles/components/calendar.scss
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.scss
Due: yarn prettier:fix

study subject tailwind optimization
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.html
Due: yarn eslint:fix, yarn prettier:fix

reduced budged
  angular.json
Due: none

Spelina/decreased budged, optimized styles (#2995)
  angular.json
  src/app/shared/styles/components/calendar.scss
  src/app/shared/styles/components/create-form.scss
  src/app/shared/styles/theme/index.scss
  src/app/shell/personal-cabinet/parent/create-child/create-child.component.scss
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.scss
Due: yarn prettier:fix

added warning before reloading
  src/app/shared/utils/utils.ts
  src/app/shell/personal-cabinet/shared-cabinet/create-form/create-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

Path conditions:
  yarn eslint:fix: any of: *.{ts,html}
  yarn prettier:fix: any of: *.{ts,scss,html}
