Repository ita-social-projects/OoS-Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint:fix, yarn prettier:fix

.lintstagedrc:

{
  "*.{ts,html}": [
    "yarn eslint:fix"
  ],
  "*.{ts,scss,html}": [
    "yarn prettier:fix"
  ]
}

Zhylka/ #2895 Rate field localization changed (#2928)
  src/assets/i18n/uk.json
Due: none

routes fixed
  src/app/shell/shell-routing.module.ts
Due: yarn eslint:fix, yarn prettier:fix

routes fixed (#2931)
  src/app/shell/shell-routing.module.ts
Due: yarn eslint:fix, yarn prettier:fix

Dvorak / 2912 Section title overlaps input field border
  src/app/shell/personal-cabinet/provider/create-workshop/create-description-form/create-description-form.component.html
Due: yarn eslint:fix, yarn prettier:fix

Fix adaptivity issues
  src/app/shell/details/details.component.html
  src/app/shell/details/details.component.scss
Due: yarn eslint:fix, yarn prettier:fix

Fix adaptivity issues (#2929)
  src/app/shell/details/details.component.html
  src/app/shell/details/details.component.scss
Due: yarn eslint:fix, yarn prettier:fix

hotfix
  src/app/shared/components/notifications/notifications-list/notifications-list.component.scss
Due: yarn prettier:fix

autofill fix
  src/app/shared/styles/theme/dark-theme.scss
  src/app/shared/styles/theme/index.scss
  src/app/shared/styles/utils/variables/variables.scss
Due: yarn prettier:fix

navbar changes (#2916)
  src/app/header/header.component.html
Due: yarn eslint:fix, yarn prettier:fix

Litviniuk/dark theme minor bug fixes (#2935)
  src/app/header/header.component.html
  src/app/shared/components/notifications/notifications-list/notifications-list.component.scss
  src/app/shared/styles/theme/dark-theme.scss
  src/app/shared/styles/theme/index.scss
  src/app/shared/styles/utils/variables/variables.scss
Due: yarn eslint:fix, yarn prettier:fix

[create position] added digit only for the rate input
  src/app/shell/personal-cabinet/provider/create-position/position-form/create-position-form.component.html
Due: yarn eslint:fix, yarn prettier:fix

[create position] added digit only for the rate input (#2934)
  src/app/shell/personal-cabinet/provider/create-position/position-form/create-position-form.component.html
Due: yarn eslint:fix, yarn prettier:fix

added unit tests,update contact interface
  src/app/shared/components/contacts-card/contacts.component.spec.ts
  src/app/shared/components/contacts-card/contacts.component.ts
  src/app/shared/models/contact.model.ts
Due: yarn eslint:fix, yarn prettier:fix

Removed old contacts-card component
  src/app/shell/details/side-menu/contacts/contacts.component.html
  src/app/shell/details/side-menu/contacts/contacts.component.scss
Due: yarn eslint:fix, yarn prettier:fix

Remove old contacts card component (#2936)
  src/app/shell/details/side-menu/contacts/contacts.component.html
  src/app/shell/details/side-menu/contacts/contacts.component.scss
Due: yarn eslint:fix, yarn prettier:fix

updated to span
  src/app/shell/personal-cabinet/provider/create-workshop/create-description-form/create-description-form.component.html
Due: yarn eslint:fix, yarn prettier:fix

update cloud builders repository
  cloudbuild.yaml
Due: none

remove dash
  cloudbuild.yaml
Due: none

update cloud builders repository (#2939)
  cloudbuild.yaml
Due: none

hotfix regostry
  cloudbuild.yaml
Due: none

accessibility
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.html
Due: yarn eslint:fix, yarn prettier:fix

[study subjects] added a tooltip for the reset filters button
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.html
Due: yarn eslint:fix, yarn prettier:fix

Spelina/[study subjects] added a tooltip for the reset filters button (#2938)
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.html
Due: yarn eslint:fix, yarn prettier:fix

Dvorak / 2912 Section title overlaps input field border (#2932)
  src/app/shell/personal-cabinet/provider/create-workshop/create-description-form/create-description-form.component.html
Due: yarn eslint:fix, yarn prettier:fix

added inputs for period
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/uk.json
Due: yarn eslint:fix, yarn prettier:fix

added pipe for workshop-detail page rendering
  src/app/shared/models/draftWorkshop.model.ts
  src/app/shared/models/workshop.model.ts
  src/app/shared/pipes/localized-date.pipe.spec.ts
  src/app/shared/pipes/localized-date.pipe.ts
  src/app/shared/shared.module.ts
  src/app/shell/details/details-tabs/workshop-about/workshop-about.component.html
  src/app/shell/details/details-tabs/workshop-about/workshop-about.component.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-workshop.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/uk.json
Due: yarn eslint:fix, yarn prettier:fix

added validation to fields
  src/app/shared/components/validation-hint/validation-hint.component.ts
  src/app/shared/enum/validation-messages.ts
  src/app/shared/styles/components/validation-form.scss
  src/app/shared/validators/date-range/date-range-validator.spec.ts
  src/app/shared/validators/date-range/date-range-validator.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.scss
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/uk.json
Due: yarn eslint:fix, yarn prettier:fix

added date formatting
  src/app/shared/models/draftWorkshop.model.ts
  src/app/shared/models/workshop.model.ts
  src/app/shared/utils/provider.utils.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-workshop.component.ts
Due: yarn eslint:fix, yarn prettier:fix

edit form appearance
  src/app/shared/utils/provider.utils.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

some changes
  src/app/shared/utils/provider.utils.ts
Due: yarn eslint:fix, yarn prettier:fix

fixes
  src/app/shared/models/draftWorkshop.model.ts
  src/app/shared/models/studyPeriodDates.model.ts
  src/app/shared/models/workshop.model.ts
  src/app/shared/pipes/localized-date.pipe.ts
  src/app/shell/details/details-tabs/workshop-about/workshop-about.component.html
  src/app/shell/details/details-tabs/workshop-about/workshop-about.component.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-workshop.component.ts
Due: yarn eslint:fix, yarn prettier:fix

last fixes
  src/app/shared/configs/study-period-dates.config.ts
  src/app/shared/pipes/localized-date.pipe.ts
  src/app/shared/services/workshops/user-workshop/user-workshop.service.ts
  src/app/shared/utils/provider.utils.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-workshop.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/uk.json
Due: yarn eslint:fix, yarn prettier:fix

rabbit fixes
  src/app/shared/models/draftWorkshop.model.ts
  src/app/shared/models/study-period-dates.model.ts
  src/app/shared/models/workshop.model.ts
  src/app/shared/styles/components/validation-form.scss
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

hotfix
  src/app/shared/models/draftWorkshop.model.ts
Due: yarn eslint:fix, yarn prettier:fix

tests added
  src/app/shared/pipes/localized-date.pipe.spec.ts
  src/app/shell/details/details-tabs/workshop-about/workshop-about.component.spec.ts
Due: yarn eslint:fix, yarn prettier:fix

deleted unused validator
  src/app/shared/validators/date-range/date-range-validator.spec.ts
  src/app/shared/validators/date-range/date-range-validator.ts
Due: yarn eslint:fix, yarn prettier:fix

finished version of study period dates
  src/app/shared/components/validation-hint/validation-hint.component.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.scss
  src/assets/i18n/en.json
  src/assets/i18n/uk.json
Due: yarn eslint:fix, yarn prettier:fix

required changes
  src/app/shared/components/validation-hint/validation-hint.component.ts
  src/app/shared/enum/validation-messages.ts
  src/app/shared/pipes/localized-date.pipe.spec.ts
  src/app/shared/pipes/localized-date.pipe.ts
  src/app/shared/shared.module.ts
  src/app/shared/utils/provider.utils.ts
  src/app/shell/details/details-tabs/workshop-about/workshop-about.component.html
  src/app/shell/details/details-tabs/workshop-about/workshop-about.component.spec.ts
  src/app/shell/details/details-tabs/workshop-about/workshop-about.component.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-workshop.component.ts
Due: yarn eslint:fix, yarn prettier:fix

sonar warning fix
  src/app/shell/details/details-tabs/workshop-about/workshop-about.component.ts
Due: yarn eslint:fix, yarn prettier:fix

deleted unused localization text
  src/assets/i18n/en.json
  src/assets/i18n/uk.json
Due: none
