Repository ita-social-projects/OoS-Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint:fix, yarn prettier:fix

.lintstagedrc:

{
  "*.{ts,html}": [
    "yarn eslint:fix"
  ],
  "*.{ts,scss,html}": [
    "yarn prettier:fix"
  ]
}

dark-theme checkbox hotfix
  src/app/shared/styles/theme/dark-theme.scss
  src/app/shared/styles/theme/index.scss
Due: yarn prettier:fix

litviniuk/ui-issues fix (#2948 & #2957 & #2959 & #2961 & #2967) (#2972)
  src/app/header/header.component.scss
  src/app/shared/base-components/create-contacts/create-contacts.component.html
  src/app/shared/base-components/create-contacts/create-contacts.component.scss
  src/app/shared/components/confirmation-modal-window/confirmation-modal-window.component.html
  src/app/shared/components/notifications/notifications-list/notifications-list.component.html
  src/app/shared/styles/components/buttons.scss
  src/app/shared/styles/components/create-form.scss
  src/app/shared/styles/theme/dark-theme.scss
  src/app/shared/styles/theme/index.scss
  src/app/shell/details/workshop-details/workshop-details.component.html
  src/app/shell/main/main.component.scss
  src/app/shell/personal-cabinet/parent/create-child/create-child.component.html
  src/app/shell/personal-cabinet/shared-cabinet/applications/application-card/application-card.component.scss
  src/app/shell/personal-cabinet/shared-cabinet/messages/chat/chat.component.html
  src/app/shell/personal-cabinet/shared-cabinet/user-config/user-config-edit/user-config-edit.component.html
  src/assets/i18n/en.json
  src/assets/i18n/uk.json
Due: yarn eslint:fix, yarn prettier:fix

hotfix
  src/app/shell/personal-cabinet/shared-cabinet/applications/application-card/application-card.component.html
  src/app/shell/personal-cabinet/shared-cabinet/applications/application-card/application-card.component.scss
Due: yarn eslint:fix, yarn prettier:fix

hotfix (#2973)
  src/app/shell/personal-cabinet/shared-cabinet/applications/application-card/application-card.component.html
  src/app/shell/personal-cabinet/shared-cabinet/applications/application-card/application-card.component.scss
Due: yarn eslint:fix, yarn prettier:fix

areThereBenefits formControl sets to false if price radio sets to free
  src/app/shell/personal-cabinet/provider/create-workshop/create-additional-about-form/create-additional-about-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

#2960 issue
  src/app/shared/store/parent.state.ts
Due: yarn eslint:fix, yarn prettier:fix

hotfix
  src/app/shared/store/parent.state.ts
Due: yarn eslint:fix, yarn prettier:fix

#2974 issue
  src/app/shared/components/confirmation-modal-window/confirmation-modal-window.component.html
Due: yarn eslint:fix, yarn prettier:fix

rabbit advice
  src/app/shared/store/parent.state.ts
Due: yarn eslint:fix, yarn prettier:fix

Litviniuk/progress bar fix (#2978)
  src/app/shared/components/confirmation-modal-window/confirmation-modal-window.component.html
  src/app/shared/store/parent.state.ts
Due: yarn eslint:fix, yarn prettier:fix

added selector for language in additional about form
  src/app/shell/personal-cabinet/provider/create-workshop/create-additional-about-form/create-additional-about-form.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-additional-about-form/create-additional-about-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

language moved to about form
  src/app/shared/models/workshop.model.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-additional-about-form/create-additional-about-form.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-additional-about-form/create-additional-about-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

added language to model
  src/app/shared/models/workshop.model.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-additional-about-form/create-additional-about-form.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-additional-about-form/create-additional-about-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

reliability fix
  src/app/shared/store/meta-data.state.ts
Due: yarn eslint:fix, yarn prettier:fix

fixed id
  src/app/shell/personal-cabinet/provider/create-workshop/create-additional-about-form/create-additional-about-form.component.html
Due: yarn eslint:fix, yarn prettier:fix

requested changes, tests and reliability fix
  src/app/shared/components/filters-list/filters-list.component.html
  src/app/shared/components/filters-list/filters-list.component.spec.ts
  src/app/shared/components/filters-list/filters-list.component.ts
  src/app/shared/models/default-filter-state.model.ts
  src/app/shared/models/filter-state.model.ts
  src/app/shared/store/filter.actions.ts
  src/app/shared/store/meta-data.state.ts
Due: yarn eslint:fix, yarn prettier:fix

added language display for details
  src/app/shared/models/workshop.model.ts
  src/app/shell/details/workshop-details/workshop-details.component.html
Due: yarn eslint:fix, yarn prettier:fix

test fix
  src/app/shell/personal-cabinet/provider/create-study-subject/create-study-subject.component.spec.ts
Due: yarn eslint:fix, yarn prettier:fix

language moved to meta data state, filtering by language
  src/app/shared/components/filters-list/filters-list.component.html
  src/app/shared/components/filters-list/filters-list.component.scss
  src/app/shared/components/filters-list/filters-list.component.ts
  src/app/shared/models/default-filter-state.model.ts
  src/app/shared/models/filter-list.model.ts
  src/app/shared/models/filter-state.model.ts
  src/app/shared/services/workshops/app-workshop/app-workshops.service.ts
  src/app/shared/store/filter.actions.ts
  src/app/shared/store/filter.state.ts
  src/app/shared/store/meta-data.actions.ts
  src/app/shared/store/meta-data.state.ts
  src/app/shared/store/provider.actions.ts
  src/app/shared/store/provider.state.ts
  src/app/shell/personal-cabinet/provider/create-study-subject/create-study-subject.component.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-additional-about-form/create-additional-about-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

Spelina/language of education for workshops (#2968)
  src/app/shared/components/filters-list/filters-list.component.html
  src/app/shared/components/filters-list/filters-list.component.scss
  src/app/shared/components/filters-list/filters-list.component.spec.ts
  src/app/shared/components/filters-list/filters-list.component.ts
  src/app/shared/models/default-filter-state.model.ts
  src/app/shared/models/filter-list.model.ts
  src/app/shared/models/filter-state.model.ts
  src/app/shared/models/workshop.model.ts
  src/app/shared/services/workshops/app-workshop/app-workshops.service.ts
  src/app/shared/store/filter.actions.ts
  src/app/shared/store/filter.state.ts
  src/app/shared/store/meta-data.actions.ts
  src/app/shared/store/meta-data.state.ts
  src/app/shared/store/provider.actions.ts
  src/app/shared/store/provider.state.ts
  src/app/shell/details/workshop-details/workshop-details.component.html
  src/app/shell/personal-cabinet/provider/create-study-subject/create-study-subject.component.spec.ts
  src/app/shell/personal-cabinet/provider/create-study-subject/create-study-subject.component.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

areThereBenefits formControl sets to false if price radio sets to free (#2977)
  src/app/shell/personal-cabinet/provider/create-workshop/create-additional-about-form/create-additional-about-form.component.ts
Due: yarn eslint:fix, yarn prettier:fix

angular-builders/jest 17.0.3
  package.json
  yarn.lock
Due: none

angular cli17, core17, eslint schematics 17
  angular.json
  package.json
  yarn.lock
Due: none

mat-timepicker latest (19)
  package.json
  yarn.lock
Due: none

typescript 5.4.8
  package.json
  yarn.lock
Due: none

timepicker lib switch
  package.json
  yarn.lock
Due: none

angular cdk 17
  package.json
  yarn.lock
Due: none

removed redundant timepicker lib
  package.json
  yarn.lock
Due: none

timepicker cleanup
  package.json
  src/app/shared/components/filters-list/working-hours/working-hours.component.html
  src/app/shared/shared.module.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.html
  yarn.lock
Due: yarn eslint:fix, yarn prettier:fix

ngx slider 17
  package.json
  yarn.lock
Due: none

ngx-owl-carousel 17, ngx-leaflet 17
  package.json
  yarn.lock
Due: none

angular material 16 migration complete
  src/app/app.module.ts
  src/app/shared/components/filters-list/age-filter/age-filter.component.scss
  src/app/shared/components/filters-list/city-filter/city-filter.component.spec.ts
  src/app/shared/components/filters-list/price-filter/price-filter.component.scss
  src/app/shared/components/filters-list/working-hours/working-hours.component.scss
  src/app/shared/components/paginator/paginator.component.ts
  src/app/shared/models/message-bar.model.ts
  src/app/shell/admin-tools/data/directions-wrapper/directions-institution-hierarchies-edit-form/directions-institution-hierarchies-edit-form.component.ts
  src/app/shell/admin-tools/data/history-log/history-log-filters/history-log-filters.component.scss
  src/app/shell/admin-tools/data/statistics/statistics.component.scss
  src/app/shell/personal-cabinet/parent/create-application/create-application.component.ts
  src/app/shell/personal-cabinet/parent/create-child/child-form/child-form.component.ts
  src/app/shell/personal-cabinet/provider/create-provider/create-info-form/create-info-form.component.spec.ts
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.scss
  src/app/shell/result/ordering/ordering.component.ts
Due: yarn eslint:fix, yarn prettier:fix

fixed step input border
  src/app/shared/styles/components/create-form.scss
Due: yarn prettier:fix

timepicker styles
  package.json
  src/app/shared/components/filters-list/age-filter/age-filter.component.spec.ts
  src/app/shared/components/filters-list/working-hours/working-hours.component.html
  src/app/shared/components/filters-list/working-hours/working-hours.component.spec.ts
  src/app/shared/styles/components/timepicker.scss
  src/app/shell/personal-cabinet/provider/create-competition/create-required-form/create-required-form.component.spec.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/create-about-form.component.spec.ts
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.html
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.scss
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.spec.ts
Due: yarn eslint:fix, yarn prettier:fix

migation fixes
  src/app/app-routing.module.ts
  src/app/app.component.ts
  src/app/shared/components/filters-list/working-hours/working-hours.component.html
  src/app/shared/styles/theme/dark-theme.scss
  src/app/shared/styles/theme/light-theme.scss
  src/app/shell/personal-cabinet/provider/create-workshop/create-about-form/working-hours-form-wrapper/working-hours-form/working-hours-form.component.html
Due: yarn eslint:fix, yarn prettier:fix

styles fix
  src/app/shared/styles/components/create-form.scss
  src/app/shared/styles/components/toggle-button.scss
  src/app/shell/admin-tools/data/history-log/history-log-filters/history-log-filters.component.scss
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.html
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.scss
  src/app/shell/personal-cabinet/provider/provider-workshops/provider-workshops.component.scss
  src/app/shell/result/result.component.html
  src/app/shell/shell-routing.module.ts
Due: yarn eslint:fix, yarn prettier:fix

removed redundant px
  src/app/shared/styles/components/timepicker.scss
  src/app/shared/styles/components/toggle-button.scss
  src/app/shell/result/ordering/ordering.component.scss
Due: yarn prettier:fix

styles fixes
  src/app/shared/components/entity-checkbox-dropdown/entity-checkbox-dropdown.component.scss
  src/app/shared/styles/components/create-form.scss
  src/app/shared/styles/components/timepicker.scss
  src/app/shared/styles/components/toggle-button.scss
  src/app/shared/styles/theme/index.scss
  src/app/shell/personal-cabinet/personal-cabinet.component.scss
  src/app/shell/personal-cabinet/provider/provider-study-subjects/provider-study-subjects.component.scss
  src/app/shell/result/ordering/ordering.component.scss
  src/index.html
Due: yarn eslint:fix, yarn prettier:fix

badge style fix
  src/app/shell/personal-cabinet/personal-cabinet.component.scss
Due: yarn prettier:fix
